export(annotatePeak)
export(getSampleFiles)
export(overlap)
export(peakHeatmap)
export(plotAnnoBar)
export(plotAnnoPie)
export(plotAvgProf)
export(plotChrCov)
export(plotDistToTSS)
export(readPeakFile)
export(vennplot)
export(vennplot.peakfile)

import(methods)
import(BiocGenerics)
import(S4Vectors)
importFrom(AnnotationDbi,get)
importFrom(AnnotationDbi,select)
importFrom(BiocGenerics,image)
importFrom(BiocGenerics,intersect)
importFrom(BiocGenerics,strand)
importFrom(BiocGenerics,unique)
importFrom(IRanges,IRanges)
importFrom(IRanges,Views)
importFrom(IRanges,as.factor)
importFrom(IRanges,as.vector)
importFrom(IRanges,coverage)
importFrom(IRanges,elementLengths)
importFrom(IRanges,end)
importFrom(IRanges,findOverlaps)
importFrom(IRanges,follow)
importFrom(IRanges,precede)
importFrom(IRanges,start)
importFrom(IRanges,subsetByOverlaps)
importFrom(IRanges,viewApply)
importFrom(IRanges,width)
import(GenomeInfoDb)
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,strand)
importFrom(GenomicRanges,unlist)
importFrom(GenomicFeatures,exonsBy)
importFrom(GenomicFeatures,fiveUTRsByTranscript)
importFrom(GenomicFeatures,genes)
importFrom(GenomicFeatures,intronsByTranscript)
importFrom(GenomicFeatures,threeUTRsByTranscript)
importFrom(GenomicFeatures,transcriptsBy)
importFrom(Matrix,Matrix)
importFrom(Matrix,summary)
importFrom(RColorBrewer,brewer.pal)
importFrom(TxDb.Hsapiens.UCSC.hg19.knownGene,TxDb.Hsapiens.UCSC.hg19.knownGene)
importFrom(ggplot2,aes)
importFrom(ggplot2,aes_string)
importFrom(ggplot2,coord_flip)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,element_text)
importFrom(ggplot2,facet_grid)
importFrom(ggplot2,geom_bar)
importFrom(ggplot2,geom_hline)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,geom_segment)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,geom_vline)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,ggtitle)
importFrom(ggplot2,scale_fill_brewer)
importFrom(ggplot2,scale_fill_hue)
importFrom(ggplot2,scale_x_continuous)
importFrom(ggplot2,scale_y_continuous)
importFrom(ggplot2,theme)
importFrom(ggplot2,theme_bw)
importFrom(ggplot2,theme_classic)
importFrom(ggplot2,xlab)
importFrom(ggplot2,ylab)
importFrom(gplots,plot.venn)
importFrom(grDevices,colorRampPalette)
importFrom(gtools,permutations)
importFrom(plyr,.)
importFrom(plyr,ddply)
importFrom(plyr,ldply)
importFrom(plyr,summarise)
